Heyyyyyyyy Kitty Gurl <%= @user.username %>,

Thanks for registering! To confirm your email make a simple JSON POST hunty in the form of:
 {
  "email": "<%= @user.email %>",
  "key": "<%= @user.token %>"
 }

to <%= "#{@domain}/verify" %>

<%= @user.token %>

The library is Open!
- The Shiny Squad
