<div class="container">
  <%= image_tag "logo.gif", alt: "Logo" %>
  <% if current_user %>
      <% if current_user.active %>
          <div id="feed">
            <% Sparkle.where(:created_at.lte => Time.now).order_by(created_at: :desc).limit(60).each do |spark| %>
              <%= react_component('Sparkle', {content: spark.content, username: spark.user.username}) %>
            <% end %>
          </div>
          <%= react_component('NewSparkleForm') %>
          <%= render 'snippets/search' %>
          <%= react_component('Search') %>
      <% elsif not current_user.active %>
          <%= react_component('VerifyForm', props: {email: current_user.email}) %>
      <% end %>
  <% else %>
      <div  class="container">
        <%= react_component('NewUserForm') %>
        <%= react_component('VerifyForm') %>
        <%= react_component('LoginForm') %>
      </div>
  <% end %>
</div>