<!DOCTYPE html>
<html>

<head>
    <title>Glitter</title>


        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= flash_messages %>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Glitter</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <% if current_user %>
                      <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.username %>
                      </a>
                      <li class="nav-item"><%= link_to 'Log out', '/logout', class: 'nav-link' %></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <%= yield %>
</body>

</html>